[Desktop Entry]
Name=Beta-Launcher
Comment=Application for installing, manageing and starting Unrealengine 4
Exec=Beta-Launcher
Icon=Beta-Launcher
Terminal=false
Type=Application
Categories=Graphics;FileTransfer;Graphics;
MimeType=x-scheme-handler/steam;

Name[en_US]=UnrealEngine
