#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Beta-Launcher
Comment=Application for installing, manageing and starting Unrealengine 4
Exec=beta-launcher
Icon=beta-launcher
Terminal=false
Type=Application
Categories=Graphics;FileTransfer;Graphics;

Name[en_US]=Beta-Launcher
