Package: beta-launcher
Version: 0.4
Section: graphics
Priority: optional
Installed-Size: 1049
Source: beta-launcher
Maintainer: siebencorgie <officialsiebencorgie@gmail.com>
Homepage: <https://github.com/SiebenCorgie/Beta-Launcher>
Architecture: all
Depends: libgtk-3-dev, python-webkit, python-vte, git, gir1.2-webkit-3.0.
Description: Incofficial launcher for UE4 on Linux
 A small launcher program which will manage you installation of UE4 on Linux, give you acces to documentations and so on...
